<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Carchive®</title>
</head>

<body>
  <header class="font-monospace border-bottom">
    <div class="text-center bg-dark">
      <h1 class="text-light">Carchive®</h1>
    </div>
    <div class="row my-2">
      <div class="col"></div>
      <div class="col"></div>
      <div class="my-2 col justify-content-end">
        <a href="/admin/dashboard/" class="btn btn-primary btn-sm">Dashboard</a>
        <a href="/admin/logout/" class="btn btn-danger btn-sm">logout</a>
      </div>
    </div>
  </header>
  <main class="mx-5 row">
    <div class="my-5 col">
      <form action="/admin/create_showroom/" method="POST">
        {% csrf_token %}
        <div>
          <label class="form-label">Name</label>
          <input type="text" name="name" class="form-control" />
        </div>
        <div class="my-3">
          <label class="form-label">Email</label>
          <input type="text" name="email" class="form-control" />
        </div>
        <div class="my-3">
          <label class="form-label">Password</label>
          <input type="password" name="password" class="form-control" />
        </div>
        <div class="my-3">
          <label class="form-label">License number</label>
          <input type="text" name="license_number" class="form-control" />
        </div>
        <div class="my-3">
          <label class="form-label">Payment</label>
          <select name="payment">
            <option value="not paid">not paid</option>
            <option value="cash">cash</option>
            <option value="cheques">cheques</option>
          </select>
          <div class="my-5 col">
            <button class="btn btn-primary my-2">Add</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </main>
</body>

</html>