<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a new car</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <header class="font-monospace border-bottom">
        <div class="text-center bg-dark">
            <h1 class="text-light">Carchive®</h1>
        </div>
        <div class="text-center row align-items-center my-2">
            <div class="col"></div>
            <div class="col font-weight-bold text-danger">CHANGE PASSWORD</div>
            <div class="col">
                <a href="/dashboard/" class="btn btn-primary btn-sm">Dashboard</a>
                <a href="/logout/" class="btn btn-danger btn-sm">logout</a>
            </div>
        </div>
        <div>
            <div class="col font-weight-bold">{{showroom.name}}</div>
        </div>
    </header>

    <main class="mx-5 row">
        <div class="my-5 col">
            <form action="/update_password/" method="POST">
                {% csrf_token %}
                <div>
                    <label for="old_password" class="form-label">OLD PASSWORD:</label>
                    <input type="password" name="old_password" id="old_password" class="form-control">
                </div>
                <div>
                    <label for="new_password" class="form-label">NEW PASSWORD:</label>
                    <input type="password" name="new_password" id="new_password" class="form-control">
                </div>
                <div>
                    <label for="conf_new_password" class="form-label">NEW PASSWORD CONFIRMATION:</label>
                    <input type="password" name="conf_new_password" id="conf_new_password" class="form-control">
                </div>
                <input type="submit" value="CHANGE" class="btn btn-danger my-3">
            </form>
            {% if messages %}
            <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }} text-danger" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

        </div>
        <div class="col"></div>
    </main>
</body>

</html>